/CMakeFiles/generate.stamp
/CMakeFiles/generate.stamp.depend
/Common.dir/Debug/Common.lib.recipe
/Common.dir/Debug/Common.tlog/CL.command.1.tlog
/Common.dir/Debug/Common.tlog/CL.read.1.tlog
/Common.dir/Debug/Common.tlog/CL.write.1.tlog
/Common.dir/Debug/Common.tlog/Common.lastbuildstate
/Common.dir/Debug/Common.tlog/CustomBuild.command.1.tlog
/Common.dir/Debug/Common.tlog/CustomBuild.read.1.tlog
/Common.dir/Debug/Common.tlog/CustomBuild.write.1.tlog
/Common.dir/Debug/Common.tlog/Lib-link.read.1.tlog
/Common.dir/Debug/Common.tlog/Lib-link.write.1.tlog
/Common.dir/Debug/Common.tlog/Lib.command.1.tlog
/Common.dir/Debug/Common.vcxproj.FileListAbsolute.txt
/Common.vcxproj
/Common.vcxproj.filters
/cmake_install.cmake
/CMakeFiles/NCLCoreClasses.dir/Debug/*.hxx
/CMakeFiles/NCLCoreClasses.dir/MinSizeRel/*.hxx
/CMakeFiles/NCLCoreClasses.dir/RelWithDebInfo/*.hxx
/CMakeFiles/NCLCoreClasses.dir/Release/*.hxx
/CMakeFiles/NCLCoreClasses.dir/*.cxx
/NCLCoreClasses.dir/Debug/*.recipe
/NCLCoreClasses.dir/Debug/NCLCoreClasses.tlog/*.tlog
/NCLCoreClasses.dir/Debug/NCLCoreClasses.tlog/*.lastbuildstate
/NCLCoreClasses.dir/Debug/*.txt
/NCLCoreClasses.dir/Release/*.recipe
/NCLCoreClasses.dir/Release/NCLCoreClasses.tlog/*.tlog
/NCLCoreClasses.dir/Release/NCLCoreClasses.tlog/*.lastbuildstate
/NCLCoreClasses.dir/Release/*.txt
/*.vcxproj
/*.filters

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.vsidx
*.ipch
*.db
/.vs/CSC8503/FileContentIndex/read.lock
/.vs
/Build
/out/build/x64-Debug
cmake-build-debug-visual-studio/*
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps